@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:root {
  --black: hsla(0, 0%, 0%, 0.871);
  --white: hsl(0, 0%, 99%);
  --background: 'hsl(0, 0%, 9%)';
  --text: #ffffffde;
  --card-background: hsl(0, 0%, 50%, 0.1);
  --card-shadow: hsla(0, 0%, 0%, 0.5);
  --tag-background: hsl(0, 0%, 9%);
}

::selection {
  background: #639;
}

/* Utility Classes */
.hidden {
  display: none;
}
/* End Utility Classes */

body {
  animation: fadeIn 1s ease-in;
  /* animation-fill-mode: backwards; */
  font-family: 'Recursive', sans-serif;
  color: var(--text);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url('assets/starry-background.webp');
}
h1,
h2,
h3,
h4,
h5,
nav {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 1rem auto;
  text-align: center;
}

body {
  position: relative;
  margin: 0;
}

.cloud-layer-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.cloud-layer-1__svg {
  transform: rotate(0.5turn);
}

.root-container {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 1000px;
}

a {
  color: inherit;
}

nav {
  font-size: 1.3rem;
  width: 100%;
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__link {
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  letter-spacing: 3px;
  margin-right: 1.2rem;
}

.darkmode__icon {
  margin-top: 4px;
  margin-left: 5px;
  width: 26px;
  height: 24px;
  color: var(--text);
  cursor: pointer;
  transition: all 0.2s linear;
}
.darkmode__icon:hover {
  transform: scale(1.2);
}

.icon-tag {
  position: absolute;
  z-index: -1;
  color: transparent;
  user-select: none;
}

header {
  height: 4rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

section {
  box-sizing: border-box;
}

.hero {
  margin: 2rem auto;
}

.hero p {
  margin: 0;
  padding: 10px;
  line-height: 150%;
  font-size: 1.3rem;
  max-width: 70ch;
}

.hero-headshot {
  height: 7rem;
  width: 7rem;
  margin-right: 1rem;
  border-radius: 5px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem 0;
  height: 6rem;
}

.badges__badge {
  height: 3.3rem;
  width: 3.6rem;
  padding: 1rem;
  transition: all 0.2s linear;
}
.badges__badge:hover {
  transform: scale(1.3);
}

.grow-text {
  font-size: 0rem;
  transition: all 0.2s linear;
  height: 1rem;
  text-align: center;
}
.grow-text:hover {
  font-size: 1rem;
}
.grow-text p {
  margin: 0;
}

.projects {
  /* projects has a top margin of 0.5rem, so this line places the projects h2 center */
  padding-top: 19.92px;
}

.projects__cards {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-bottom: 25px;
  flex-wrap: wrap;
}

.project__header {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 0;
  text-align: center;
}

.project {
  background-color: var(--card-background);
  color: var(--text);
  box-shadow: 1px 2px 3px var(--card-shadow);
  width: 25rem;
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
  border-radius: 3px;
}

.project img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.project__img-box {
  box-sizing: border-box;
  height: 12.5rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  width: 100%;
}

.project p {
  margin: 0;
  text-align: left;
  padding: 1rem 5px;
  font-size: 1.1rem;
  line-height: 1.6rem;
}
.project p.center-align {
  text-align: center;
  display: inline-block;
}

.project-nav {
  height: auto;
  margin-top: 5px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  font-size: 1.2rem;
}

.project__button:link,
.project__button:visited {
  text-decoration: none;
  text-align: center;
  background-color: var(--black);
  color: white;
  width: 5rem;
  padding: 0.8rem 1.8rem;
  margin: 0 auto;
  box-shadow: 0 0 7px rgba(51, 51, 51, 0.3);
  transition: all 0.2s;
  backface-visibility: hidden;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.project__button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

footer {
  margin: 0;
  margin-top: 2rem;
  padding: 2rem 0;
  font-size: 1.1rem;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 0.8rem 0;
}

footer a {
  text-decoration: underline;
  font-weight: bold;
}

.photo-credit {
  display: none;
}

.tags {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
}
.tag {
  background-color: var(--tag-background);
  padding: 0.4rem;
  margin: 0.2rem;
  display: block;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 5px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 520px) {
  .nav__link {
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
  }

  .nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    min-height: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease;
  }

  .nav__link:hover::after {
    transform: scaleX(0.9);
  }

  .hero {
    margin: 8rem 4rem;
  }

  .hero-headshot {
    display: block;
    float: left;
  }
}

@media screen and (max-width: 519px) {
  .root-container {
    padding: 0;
  }

  .hero-headshot {
    margin: 0 auto;
    display: block;
  }

  .project {
    padding: 1rem;
    margin: 1rem 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
